/* GENERAL */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #444;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 60px auto;
}

/* HEADER */
header h1 {
    font-size: 72px;
    color: #d43c33;
    font-weight: 300;
    margin: 0;
}

header h2 {
    font-weight: 300;
    margin-top: 10px;
    font-size: 32px;
    color: #222;
}

nav {
    margin-top: 40px;
    margin-bottom: 60px;
}

nav a {
    margin-right: 35px;
    text-decoration: underline;
    color: #888;
    font-size: 22px;
    font-weight: 300;
}

nav a:hover {
    color: #d43c33;
}

/* BLOG POSTS */
.blog-post {
    margin-bottom: 120px;
}

.date {
    font-size: 32px;
    color: #bbb;
    margin-bottom: 10px;
}

.blog-post h3 {
    font-size: 64px;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #111;
}

.blog-post img {
    width: 100%;
    margin: 20px 0 40px 0;
}

/* Content paragraph */
.content {
    font-size: 22px;
    line-height: 1.9;
    font-weight: 300;
    color: #555;
}

/* DROP CAP */
.content::first-letter {
    float: left;
    font-size: 90px;
    line-height: 0.8;
    padding-right: 15px;
    font-weight: 300;
    color: #ccc;
}

/* CONTINUE LINK */
.continue {
    text-align: right;
    font-size: 22px;
    color: #d43c33;
    font-weight: 700;
    margin-top: 30px;
}

/* FOOTER */
footer {
    border-top: 1px solid #ddd;
    padding-top: 40px;
    margin-top: 80px;
}

footer a {
    margin-right: 30px;
    color: #d43c33;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    text-decoration: underline;
}